
body {
	
    font-family: Arial, sans-serif;
    background-color: #FFF0F5;
    margin: 0;
    padding: 10px;
    
}


.header-section {
    text-align: left;
    background: linear-gradient(to bottom, #FFC0CB, #DDA0DD); 
    color: #800000;
    padding: 20px;
    border-radius: 10px; 
	

}



a {

    text-decoration: none;
    color: #007bff;
    padding: 20px;
    line-height: 0.2; 
}
 


h2 {
    text-align: Left;
    margin-top: 5px;
    color: #800000; 
	padding: 20px;
}

p {
    margin-left: 20px;
}


li {
    margin-left: 30px;
	list-style-type: disc; 

}


pre {
    text-align: center;
	text-align: ;
    margin-bottom: 5px;
	line-height: 1;
}
.profile-picture img {
    border-radius: 50%; 
    display: block; 
    margin: 30px; 
}

.contact-section {
    background: linear-gradient(to bottom, #DDA0DD, #DDA0DD 200px); 
    padding: 20px;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
	width: 1450px; 
    height: 250px;
	background-position: center; 
}
.skills-section {
    background-color: #FFFFF0; 
    padding: 20px;
	width: 200px; 
    height: 300px; 
	background: linear-gradient(to bottom, #800080, #E9967A);
}